In [2]:
import pandas as pd

In [4]:
exp_ID = "20230313"
fileName = "20230313(2).CSV"

# Read the experiment file .csv into a pandas dataframe  
dataPAM_df = pd.read_csv("20230313/20230313(2).CSV", delimiter=";", skiprows=[0,2,3,4,5], skipfooter=1, engine="python")
# Drop the first 3 rows as they do not contain experiment data
#dataPAM_df = dataPAM_df.drop([0,1,2], axis=0)
# Drop the last row as it doesn't contain experimantal data
#dataPAM_df = dataPAM_df.iloc[:-1, :]
# Remove all empty columns (columns containing NaN)
# dataPAM_df = dataPAM_df.dropna(axis=1)
# Reset the row indexes of the dataframe (start at 0, 1, 2 ...) 
dataPAM_df = dataPAM_df.reset_index()

print(dataPAM_df)
print(dataPAM_df.iloc[2].loc["Fm\'"])

    index    t      Date      Time  No.  ML  Temp.   PAR      F    Fm'  Y(II)  \
0       0    2  13.03.23  14:42:47    1   2    0.0     0  0.400  1.274  0.686
1       1   32  13.03.23  14:43:17    2   2    0.0     4  0.401  1.247  0.678
2       2   62  13.03.23  14:43:47    3   2    0.0     7  0.405  1.244  0.674
3       3   92  13.03.23  14:44:17    4   2    0.0    18  0.440  1.290  0.659
4       4  122  13.03.23  14:44:47    5   2    0.0    31  0.516  1.308  0.606
5       5  152  13.03.23  14:45:17    6   2    0.0    57  0.584  1.281  0.544
6       6  182  13.03.23  14:45:47    7   2    0.0   123  0.702  1.197  0.414
7       7  212  13.03.23  14:46:17    8   2    0.0   177  0.667  1.023  0.348
8       8  242  13.03.23  14:46:47    9   2    0.0   244  0.591  0.829  0.287
9       9  272  13.03.23  14:47:17   10   2    0.0   350  0.522  0.669  0.220
10     10  302  13.03.23  14:47:47   11   2    0.0   469  0.469  0.567  0.173
11     11  332  13.03.23  14:48:17   12   2    0.0   599  0.437  0.508  0.140
12     12  362  13.03.23  14:48:47   13   2    0.0   753  0.419  0.472  0.112
13     13  392  13.03.23  14:49:17   14   2    0.0   905  0.406  0.448  0.094
14     14  422  13.03.23  14:49:47   15   2    0.0  1313  0.404  0.430  0.060

    Y(NPQ)    NPQ   ETR  Unnamed: 13  Unnamed: 14
0    0.000  0.000   0.0          NaN          NaN
1    0.007  0.022   1.1          NaN          NaN
2    0.008  0.024   2.0          NaN          NaN
3    0.000  0.000   5.0          NaN          NaN
4    0.000  0.000   7.9          NaN          NaN
5    0.000  0.000  13.0          NaN          NaN
6    0.035  0.064  21.4          NaN          NaN
7    0.128  0.245  25.9          NaN          NaN
8    0.249  0.537  29.4          NaN          NaN
9    0.371  0.904  32.3          NaN          NaN
10   0.459  1.247  34.0          NaN          NaN
11   0.517  1.508  35.2          NaN          NaN
12   0.559  1.699  35.5          NaN          NaN
13   0.588  1.844  35.6          NaN          NaN
14   0.622  1.963  33.3          NaN          NaN
1.244